$primary-color: #ff6600 !default;
$secondary-color: #000000 !default;
$tertiary-color: #333333 !default;

$white: #fff !default;
$black: #000 !default;

$cancel-color: #999999 !default;
$border-color: #dddddd !default;
$copy-color: #555555 !default;
$background-color: #f5f5f5 !default;

$success-color: #279b27 !default;
